:root {
  --primary-color: #593122;
  --primary1-color:white;
  --secondary-color: #fdc91f;
  --tertiary-color: #dc1915;
  --primary-font: 'Alfa Slab One',cursive;
  --secondary-font:'Bebas Neue',cursive;
  --tertiary-font:'Montserrat',sans-serif;
  --primary-weight:900;
  --secondary-weight:200;
  --primary-size:6.5rem;
  --secondary-size:1.2rem;
  --tertiary-size:3.5rem;
  --t-s1:2rem;
  --t-s2:1.5rem;

   --background:rgba(8,214,178, .85);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {   
  height: 100vh;   
  background-size: cover;
  background-position: center;
  position:relative;
  background-color: #fdc91f;
  z-index:1; 
  max-width: 1200px; 
  width: 100%;
  
}

  
 .nav__toggle {
      position:absolute;
      top:0;
      left:10px;
      z-index:4;
      display:none;
 }
 .nav__toggle--label {
     position: absolute;
     top:10%;
      left:10px;
      z-index:4;
      display:none;     
     
 }
 .nav__toggle--label span,
 .nav__toggle--label span::after,
 .nav__toggle--label span::before {
     display: block;
     height:2px;
     background:white;
     width:2em;
     border-radius: 5px;
     position:relative;
      
 }
 

 .nav__toggle--label span::after,
 .nav__toggle--label span::before {
     content:'';
     position:absolute;   
     
 }
 .nav__toggle--label span::before {
    top:7px;
}
.nav__toggle--label span::after {
    bottom:7px;
}

 

 .nav__list {
     margin:0;
     padding:0;
     list-style: none;
 }
 .nav__item {
     margin-bottom: 1em;
     margin-left: 1em;
 }

 .nav__link {
     color:white;
     text-decoration: none;
     font-size: 1.2em;
     text-transform: uppercase;
     opacity: 0;
     transition:opacity 100ms ease-in-out;

 }

 .nav__link:hover {
     color:black;

 }
 

 .nav__toggle:checked ~ .navmenu .nav__link {
     opacity:1;
     transition:opacity 250ms ease-in-out 100ms ;

 }

 /* @media screen and (min-width:480px){

    .navmenu {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;  
  background-color: transparent;
  justify-content: space-between;
  width:100%;
  position:relative;

} 

    .nav {
        all:unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
       
    }
    .nav__list {
        display: flex;   
      
    }
    .nav__item {
        margin-bottom:0;
        margin-left: 3em;
    }
    .nav .nav__link {
        opacity:1;
        position:relative;
         
      
    }

       .nav__link::before {
        content:'';
        display:block;
        height:5px;
        position:absolute;
        background:black;
        right:0;
        left:0;
        top:-.75em;
        transform:scale(0,1);
        transition:transform ease-in-out 250ms;
         
    }

    .nav__link:hover::before  {
        transform:scale(1,1);
    }


 } */

 
 .header::after {
    content:'';
    display:flex;
    background-color: #fdc91f;
   height:100vh;
   min-width: 100%;
   width:max-content;
   opacity: 0.9;
   box-sizing: border-box;
   position:absolute;
   top:0;
   
  
} 

.logo{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
        position:relative;
        z-index: 2;
}
.logo_name {
    display:flex;    
    height:50px;
    width:50%;     
}
.logo_contact {
    display:flex;
    flex-direction: row;
     font-family: var(--tertiary-font);
     font-weight: 400;     
}
.logo_contact>img{
    height:20px;
    width:20px;
    color:red;
}
.navigation {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%;
}

.navbar {
      
    display:flex;
    flex-direction: row;
    width:100%;
  justify-content: center; 
  align-items: center;
  margin-bottom: 8em; 
     
      
     position:relative;
     z-index: 6;
   
}

.navmenu {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  flex:1 1 40%;   
  justify-content: flex-end;
  width:100%;
  position:relative;

}
.items > a {
  text-decoration: none;
  text-transform: uppercase;
  color:var(--primary-color);
  font-family: var(--secondary-font);
  font-size: large;
  letter-spacing: 3px;
  margin-right:1em;
  
}


.header_content {
    display:flex;
    width:100%;
    flex-direction: row;
    color:var(--primary-color);
    align-items: center;
    justify-content: space-between;
    position:sticky;
    z-index:2;
 
 
  }
 .header_img {
  display:flex; 
  height:30vh;   
         
    flex-direction: row; 
    flex:1 1 100%; 
     width:100%;
    position:relative;
    
  }
.fries,.mainburger,.drinks {
    display:flex;
    flex:0 0 auto;
    height:30vh;
     
    position:absolute;
}
.fries {
    transform: rotate(-30deg);
    bottom:150px;
    width:20%;
    left:120px;
    bottom:50px;
    right:0;
    top:-50px;
}
.drinks {
    width:30%;
 
    bottom:10px;     
    left: 400px;
    right:0;
    top:0;

}
.mainburger {
    margin-right: 1em;
    left:200px;
    right:0;
    top:0;
    bottom:0;
}
 
 
 
.content {
    display:flex;
    flex-direction: column;     
    flex:1 1 100%;
    width:100%;

}
.content>.dotted{
    border:2px var(--primary-color) dashed;
    padding:0.5em 1em;
    align-items: center;
    justify-content: center;
    width:fit-content;
    font-size: var(--secondary-size);
    margin-bottom: 1em;
}
.burgerking>* {
 
line-height: 1;    
}
.burger,.upcoming_main {
    font-family: var(--primary-font);
    font-weight: var(--primary-weight);
    font-size: var(--primary-size);
    text-transform: uppercase;
    color:var(--primary-color);
    
}
.burger {
    text-shadow: 1px 5px 5px white;
   
}
.burger-small {
    font-size: var(--tertiary-size);
    font-weight: var(--secondary-weight);   
}
.main {
    display:flex;
}
 
.secondary_head {
    font-family: var(--secondary-font);
    font-size: var(--t-s2);    
    line-height: 1;
}
.main_head,.item_header {
    font-family: var(--secondary-font);
    font-size: var(--t-s1);
    line-height: 1;   
 }
 .item_header {
     text-align: center;
 }
 .w,.try>*{
     color:white;
     
 }
 .try {
     display: flex;
     flex-direction: row;
     width:100%;
     height:500px;
     align-items: center;
     justify-content: space-between;
 }
  
 .popular_r{
     display: flex;
     flex-direction: column;
   }
 .try_heading {
     position:absolute;
     top:10px;
     left:10px;
 }
  
 .popularl,.popular--s{
      display:flex;
      flex-direction: column;
       height:300px;
       background-size:cover;
        background-position: center ;  
        padding:1em;
        margin:1em;
        border-radius:10px;       
     flex:1 1 50%; 
     color:white;   
 }
 .popularl>*,.popular_r>*{
     color:white;
 }
 
 
 .popular_r {
     display:flex;
     flex-direction: column;
     flex:1 1 50%;
     height:300px;
     
     
 }
 .popular--s {
     margin:1em;
     border-radius: 10px;
     padding:1em;
 }
 .order {
     display:flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
 }
 .order_desc,.order_btn {
     background-color: var(--secondary-color);
     display:flex;
     align-items: center;
     justify-content: center;
     width:fit-content;
    margin-bottom: 2em;
     padding:0.5em 1em;
 }
 .order_header{
     display:flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 
 .order_body {
     font-family: var(--tertiary-font);
     font-size: var(--secondary-size);
  }
  .order_items {
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width:100%;
  }
  .order_img {
    display:flex; 
    flex:1 1 auto;
     
    width:120px; 
    height:100px;  
    
   
 }
 .order_item{
     display:flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     flex:1 1 30%;
     width:30%;
     margin:1em;
     
 
 }
 .item_desc{
     text-align: center;
     font-family: var(--tertiary-font);
 }
 .order_btn,.reserve_btn {

     color:white;
     font-weight: 100;
     font-family: var(--primary-font);
      background-color: var(--tertiary-color);
     text-transform: uppercase;
     outline:none;
     border:none;
 }
 .upcoming {
     outline:none;
     border:none;
     box-shadow:2px 3px 5px 2px rgba(173, 173, 173, 0.533);
     padding:1em;
     display:flex;
     flex-direction: row;
  
     justify-content: space-between;
      width:100%;
      height:250px;
      margin-bottom: 3em;     
 }
 .upcoming_l {
     display:flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
     flex:1 1 50%;
     width:40%;
      
  }
 .upcoming_r{
     display:flex;
     justify-content: flex-end;
     flex:1 1 30%;
     width:60%;
   
    }
    .upcoming_main {
        font-size: var(--t-s2);
    }
 .reservation {
     display:flex;
     flex-direction: column;
     align-items: center;
     justify-items: center;
     width:100%;
     
 }
 .reserve{
     display:flex;
     flex-direction: row;
     flex-wrap: wrap;
  }
 .form_item {
      flex:1 1 35%;    
     padding:1em;
     margin:1em;
     text-transform: uppercase;
     font-family: var(--secondary-font);
 }
 .reserve_btn{
     font-family: var(--primary-font);
 }
 .footer {
     background-size: cover;
     background-position: center center;
      display:flex;
      flex:1 1 auto;
     flex-direction: column;
      color:white;
      height:auto;
       padding:2em 1em 0 1em;
      
  }
 .footer_info{
     display:flex;      
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     width:100%;
      
 }
 .footer_desc{
     display:flex;
     flex-direction: column;
     flex:1 1 40%;
     width:50%;
 }
 .contact{
     display:flex;
     flex-direction: column;
     flex:1 1 60%;
     width:30%;
 }
 .contact>*+* {
     margin-top: 1em;
 }

 .loc,.email {
     display:flex;
     flex-direction: row;
 }
 .loc>p,.email>p {
     margin-left: 1em;
 }
 .social {
     display:flex;
     flex-direction: row;
     align-items: flex-end;
     justify-content: flex-end;
     margin-top: 5em;
 }
 .media {
     display:flex;
     flex-direction: row;
     align-items: flex-end;
     justify-content: flex-end;
      
     flex:1 1 40%;
     width:20%;
 }
 .media>img {
     height:25px;
     width:25px;
     margin-right:1em;
 }
 img {
     object-fit: cover;
 }

 @media screen and (max-width:480px){
     .nav__toggle--label {
         display:flex;
          cursor:pointer;
          padding:0.5em;
          position:absolute;
          z-index: 99;
     }
      .navbar {      
     display:flex;
     width:100%;
     transform: scale(1,0);
     margin-bottom: 1em;
     
 }
 .nav__toggle:checked ~ .navbar {
     transform: scale(1,1);  
     transform-origin:top;
     transition:transform 400ms ease-in-out  ;   
 }
    .navmenu {
      display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  background-color: #593122;
  opacity:0.8;     
  justify-content: space-between;
  width:100%;
  position:relative;
  padding:2em 0;
    }
    .logo {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        flex:1 1 100%;
        width:100%;
    }
    .logo_name {
        width:100%;
        display:flex;    
        height:40px;
        margin-bottom: 1em;
    }
           .logo_contact {
               display:flex;
               height:40px;
               flex:1 1 100%;
               width:100%;
               border:1px solid brown;
               margin:1em;
                
           }
           .delivery{
               display:flex;
               height:20px;
               width:20px;
           }
            
           .items {
               margin:0.4em;
           }
           .items>a{
               color:var(--secondary-color);
               
           }
           .header_content{
               display:flex;
               flex:1 1 100%;
               width:100%;
               flex-direction: column;
               position: sticky;
           }
           .header_img {
  display:flex; 
  height:30vh;          
    flex-direction: row; 
    flex:1 1 auto; 
     width:100%;
    align-items: flex-start;
    justify-content: center;
 
    margin-left: 1em;
       
    position:relative;
    
  }
           .fries,.mainburger,.drinks {
    display:flex;
    flex:0 0 100%;
    width:100%;
  
    height:20vh;     
    position:absolute;
}
.fries {
    transform: rotate(-30deg);
    left:0;
    top:10px;
    bottom:0;
    right:0;
         
    
}
.drinks {
    width:20%;
    height:25vh;
  bottom:30px;
    left:50%;
    top:50px;
    bottom:0;
    right:0;
 
}
.mainburger{
    top:100px;
    bottom:0;
    left:50px;
    right:0;
}
           .try {
               display:flex;
               flex-direction: column;
                flex:1 1 100%;
                align-items: center;
                justify-content: center;
           }
           .burger{
               font-size:2.8rem;
           }
           .burger-small{
               font-size: 1.5rem;
           }
           .popularl,.popular_r,.popular--s{
               display:flex;
               flex:1 1 100%;
               
               padding:1em;
               width:100%;
               
           }
           .order_items {
               display:flex;
               flex-direction: column;
               flex:1 1 100%;
               width:100%;
           }
           .order_item{
               display:flex;
               flex-direction: column;
               flex:1 1 100%;
               width:100%;
           }
           .item_body {
               display:none;
           }
           .order_btn {
               display:flex;
               width:40%;
           }
           .upcoming {
               display:flex;
               flex-direction: column;
               width:100%;
               flex:1 1 auto;
               height:fit-content;
           }
           .upcoming_talk {
               display:none;
           }
           .upcoming_r{
     display:flex;
     justify-content: center;
     flex:1 1 auto;
     width:100%;
     height:150px;
   
    }
    .reserve {
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .reserve>* {
        width:100%;
        flex:1 1 auto;
        max-width: 350px;
         
    }
    .footer {
        display:flex;
        flex-direction: column;
        flex:1 1 100%;
        width:100%;
        background-size:auto;
     background-position: center center;  
       color:white;
        height:100%;  
        position:relative;   
        overflow:visible;
        border:4px solid blue;
      
    }
    .footer >* {
        padding:0;
        margin:0;
    }
    .social {
        display:flex;
        flex-direction: row;
        width:100%;
        align-items: center;
        justify-content:center;
    }
    .media {
        flex-direction: column;
    }
    .footer_info {
        flex-direction: column;
    }
    .footer_desc{
        display:flex;
        width:100%;
    }
    .contact {
         width:100%;
         margin:1em;
    }
    .loc,.email {
        height:15px;
        width:15px;
        margin:1.5em;
    }
    
    .copyright{
        font-size: small;
    }
   
   
    
}
  
